/*----------------------Categories--------------------*/

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 30px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
	
  
  
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
	color: rgb(0, 0, 0);
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  .modal-header {
	margin: 0;
	padding: 2px 16px;
	background-color: #fafafa;
	color: #fc9807;
	text-align: center;
  }

  .modal-header {
      text-align: center;
      align-items: center;
      justify-content: center;
  }
  

  .modal-body {
	  padding: 2px 16px;
	  margin-bottom: 20px ;
  }
  
  .modal-footer {
	padding: 2px 16px;
	background-color: #c2bbbb;
	color: white;
  }

  
  /* Body Text */
  
  a {
	  color: #000203;
	  text-decoration: none;
  }
  
  a:focus {
	  outline: thin dotted;
	  outline: 5px auto -webkit-focus-ring-color;
	  outline-offset: -2px;
  }
  
  a:hover, a:focus {
	  color: #e51e31;
	  text-decoration: underline;
  }
  
  a {
	  background-color: transparent;
  }
  
  .all-cat-item-row {
	  font-size: 14px;
	  color: #4d4d4d;
	  line-height: 24px;
  }
  
  .trackable a{
	  display: block;
  }
  
  .btn-other {
	  border: none;
	  padding: 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  margin: 4px 4px;
	  cursor: pointer;
	  line-height: 30px;
	  background: #fc9807;
	  color: #fff;
	  font-size: 16px;
	  font-weight: bold;
	  border-radius: 4px;
	  padding: 8px;
	  text-decoration: none;
	}

.modal-header p {
    font-size: 1.5rem;
}